<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name="com.sms.checker.forwarder.feature.listening.delegate.ListeningService"
            android:exported="false"
            android:stopWithTask="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Listening for incoming SMS messages as configured by the user" />
        </service>
    </application>

</manifest>
